<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

</head>
<body class="container">

    <header>
        <%- include('../partials/support/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Suporte</h1>
            <p>Obtenha suporte através destes meios de contato</p>
            <ul>
                <li><strong>Email</strong> - <a  href="mailto:ryanmarcosdelara@gmail.com" target=blank>ryanmarcosdelara@gmail.com</a></li>
            </ul>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="js/darkmode.js"></script>
</body>
</html>