<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plugins">Comandos</a>
      </li>
      <li class="active" class="nav-item">
        <a class="nav-link" href="/support">Suporte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">Configurações</a>
      </li>
    </ul>
  </nav>
